/* about.css */

body{
  background-color: #ddd;
  padding-bottom: 20px;
}
.back{
  background: #ccc;
  margin-bottom: 20px;
}
#about{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.update{
  color: red;
}