/* about.css */

body{
  background-color: #ddd;
  padding-bottom: 20px;
}
#back{
  display: inline-block;
  margin: 0px;
  background: #ccc;
  font-family: courier;
  width: 120px;
  padding: 2px;
  border: 2px outset #bbb;
}
#backpar{
  text-align: center;
  margin: 0;
  color: black;
}
a:active#back{
  border: 2px inset #bbb;
}

#about{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.update{
  color: red;
}