/* main.css */

body{
  font-family: courier, monospace;
  margin: 0;
  padding: 0;
}
h3{     
  padding: 0;
  margin: 0;
}
button {
  margin: 10px 0 0 0;
  padding: 0;
  background: #ccc;
  font-family: courier;
  width: 120px;
}
a{
  text-decoration: none;
  color: red;
}
#head{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  text-align: center;
}