/* licence.css */
body{
  background-color: #ddd;
}
#back{
  background: #ccc;
  margin-bottom: 20px;
}
#licence{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
#apache{
  text-align: center;
  padding: 10px;
}